# Etherscan- Name Tags of Known Addresses

In [18]:
# Import Libraries
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup as soup
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#Make Request to Etherscan
url = 'https://etherscan.io/accounts/%s?ps=100'%(1) # Initiate with the first page of accounts with 100 records
req = Request(url,headers={'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'})   # Etherscan restricts the access for Webscrapping, reason why headers needs to be stated
response = urlopen(req, timeout=50).read() # Read response
page_soup = soup(response, "html.parser") # Parse HTML response
Transfers_info_table_1 = page_soup.find("table", {"class": "table table-hover"}) # Find the table in the HTML where is the information required
df=pd.read_html(str(Transfers_info_table_1))[0] # Save information in dataframe

#Iterate over the next pages to get the information of the top 10,000 accounts by balance
for i in range(2,101):
    url = 'https://etherscan.io/accounts/%s?ps=100'%(i) # State URL with current in iteration
    req = Request(url, headers={'User-Agent':'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/47.0.2526.106 Safari/537.36'}) # Etherscan restricts the access for Webscrapping, reason why headers needs to be stated
    response = urlopen(req, timeout=50).read() # Read response
    page_soup = soup(response, "html.parser") # Parse HTML response
    Transfers_info_table_1 = page_soup.find("table", {"class": "table table-hover"}) # Find the table in the HTML where is the information required
    df2=pd.read_html(str(Transfers_info_table_1))[0] # Save information in dataframe
    df=df.append(df2) # Append data to df
    time.sleep(2) # Etherscan restricts the access if the requests are perform too fast. The function delays the code by two seconds per iteration

In [ ]:
# Print table with the information of the top 10,000 addresses from Etherscan
df

,Rank,Address,Name Tag,Balance,Percentage,Txn Count
0,1,0x00000000219ab540356cbb839cbe05303d7705fa,Eth2 Deposit Contract,"13,170,629.000069 Ether",10.98822335%,209885
1,2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,"4,292,271.99490362 Ether",3.58103196%,8999160
2,3,0xda9dfa130df4de4673b89022ee50ff26f6ea73cf,Kraken 13,"2,113,030.00445455 Ether",1.76289573%,68
3,4,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,Binance 7,"1,996,008.27992735 Ether",1.66526479%,1098
4,5,0x0716a17fbaee714f1e6ab0f9d59edbc5f09815c0,NaN,"1,950,476.62187696 Ether",1.62727784%,24
...,...,...,...,...,...,...
95,9996,0x68c8c8a7b9caec88056e538590e81a6a68da60ff,NaN,600.27 Ether,0.00050080%,1
96,9997,0xf9440930043eb3997fc70e1339dbb11f341de7a8,Curve.fi: ETH/rETH Pool,600.24902466 Ether,0.00050079%,2445
97,9998,0x18cd57b8dac65617c96165f74c6ba23d6a1c3dee,NaN,600.23909085 Ether,0.00050078%,4
98,9999,0xcfcfe47fa7cdc6d932dfc8fa47a780aba8bac96c,NaN,600.23290199 Ether,0.00050077%,4
99,10000,0xd2fc0f36529476cff219d03007958760c8f69e42,NaN,600.23061354 Ether,0.00050077%,1

In [ ]:
# Save and print table only with the addresses that have Name Tag
df_nametag=df[~df['Name Tag'].isna()]
df_nametag

,Rank,Address,Name Tag,Balance,Percentage,Txn Count
0,1,0x00000000219ab540356cbb839cbe05303d7705fa,Eth2 Deposit Contract,"13,170,629.000069 Ether",10.98822335%,209885
1,2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,"4,292,271.99490362 Ether",3.58103196%,8999160
2,3,0xda9dfa130df4de4673b89022ee50ff26f6ea73cf,Kraken 13,"2,113,030.00445455 Ether",1.76289573%,68
3,4,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,Binance 7,"1,996,008.27992735 Ether",1.66526479%,1098
6,7,0x742d35cc6634c0532925a3b844bc454e4438f44e,Bitfinex 2,"1,341,122.36792507 Ether",1.11889509%,17185
...,...,...,...,...,...,...
42,9643,0xea674fdde714fd979de3edf0f56aa9716b898ec8,Ethermine,625.30874249 Ether,0.00052169%,44180157
36,9837,0xe28e72fcf78647adce1f1252f240bbfaebd63bcc,Augur: Token Sale,610.002 Ether,0.00050892%,592
64,9865,0xcc120361cb6ded8c3611460a59176512d8758dbb,AyeZee: Copium Wallet,607.64890388 Ether,0.00050696%,384
20,9921,0x6a159503e49ddb8e49659d6cacf5236ac4213d86,BitDAO: ByBit Contribution,603.06177864 Ether,0.00050313%,69
96,9997,0xf9440930043eb3997fc70e1339dbb11f341de7a8,Curve.fi: ETH/rETH Pool,600.24902466 Ether,0.00050079%,2445

In [ ]:
# Save and print table with the addresses that do not have Name Tag
df_no_nametag=df[df['Name Tag'].isna()]
df_no_nametag

,Rank,Address,Name Tag,Balance,Percentage,Txn Count
4,5,0x0716a17fbaee714f1e6ab0f9d59edbc5f09815c0,NaN,"1,950,476.62187696 Ether",1.62727784%,24
5,6,0x9bf4001d307dfd62b26a2f1307ee0c0307632d59,NaN,"1,490,000.0181027 Ether",1.24310335%,105
14,15,0xe92d1a43df510f82c66382592a047d288f85226f,NaN,"450,000.05009572 Ether",0.37543393%,82
16,17,0x1b3cb81e51011b549d78bf720b0d924ac763a7c2,NaN,"347,300.004135 Ether",0.28975154%,193
19,20,0xca8fa8f0b631ecdb18cda619c4fc9d197c8affca,NaN,"325,000.48164854 Ether",0.27114710%,75
...,...,...,...,...,...,...
94,9995,0x450e8e3cd0c985c252b9376c9e568e2853ff73d4,NaN,600.29608846 Ether,0.00050083%,13
95,9996,0x68c8c8a7b9caec88056e538590e81a6a68da60ff,NaN,600.27 Ether,0.00050080%,1
97,9998,0x18cd57b8dac65617c96165f74c6ba23d6a1c3dee,NaN,600.23909085 Ether,0.00050078%,4
98,9999,0xcfcfe47fa7cdc6d932dfc8fa47a780aba8bac96c,NaN,600.23290199 Ether,0.00050077%,4
99,10000,0xd2fc0f36529476cff219d03007958760c8f69e42,NaN,600.23061354 Ether,0.00050077%,1

In [ ]:
# Export to CSV tables generated
df.to_csv("Etherscan_Top10000_Addresses.csv",index=False)
df_nametag.to_csv("Etherscan_NameTag_Addresses.csv",index=False)
df_no_nametag.to_csv("Etherscan_No_NameTag_Addresses.csv",index=False)